*{
    margin: 0;
    background-color: burlywood;
}

#app{
    margin: 40px;
    padding: 10px;
    width: 90vw;
    
    background-color: blueviolet;
}

#container{
    padding: 20px;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    height: 30vw;
}

.divStyle{
    background-color: rgb(255, 255, 255);
    /* height: 12px;
    width: 12px; */
    /* border: solid 1px; */
    user-select: none;
}
