*{
    margin: 0;
    background-color: burlywood;
    text-align: center;
}

#app{
    /* margin: 40px; */
    padding: 10px 1px;
    width: 99vw;
    text-align: center;
    border: black;
    background-color: blueviolet;
    margin: auto;
}

#container{
    padding: 0;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    height: 70vh;
    border: black;
    margin:auto;
}

.divStyle{
    background-color: rgb(255, 255, 255);
    border: 1px solid #f33;
    user-select: none;
}

button{
    margin: 15px 15px;
}